/** 
 * (min-width: 981px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 981px) {
    .container-business {
        width: 760px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .child-container-business {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .container-description {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .container-business p,
    h4 {
        padding-left: 5px;
    }

    .description {
        width: 33.3%;
    }

    .description div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .number {
        font-size: 0.8em !important;
        font-weight: 300 !important;
        padding: 15px 0px;
        color: white;
        transform: rotate(-90deg);
    }

    .child-container-qualities {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .qualities {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #000000;
    }

    .qualities-left-line {
        border-left: 1px solid #000000;
    }

    .child-qualities {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid #000000;
    }

    .child-qualities div {
        width: 50%;
        height: 25vh;
        max-height: 160px;
        max-width: 65%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child-qualities h5 {
        font-size: 0.8em;
        font-weight: 400;
        color: white;
    }

    /*CROSS HOVER*/
    .z-cross {
        position: relative;
        z-index: 1 !important;
    }

    .hover-cross {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 3;
    }

    .hover-cross .child-qualities {
        width: 100%;
        height: 160px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .cross-select div {
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }

    .hover-cross div {
        width: 100% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .container-plus {
        animation: fadeIn 2s;
        position: relative;
    }

    /* .left,
    .middle,
    .right {
        cursor: none;
    } */

    /* .left:hover~.middle {
        background: #0000000b;
    }

    .left:hover~.right {
        background: #0000000b;
    }

    .middle:hover~.left {
        background: #0000000b;
    }

    .middle:hover+.right {
        background: #0000000b;
    }

    .right:hover~.left {
        background: #0000000b;
    }

    .right:hover~.middle {
        background: #0000000b;
    } */

    /* .left:hover {
        box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;
        -webkit-box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;
        -moz-box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;

    }

    .middle:hover {
        box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;
        -webkit-box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;
        -moz-box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;
    }

    .right:hover {
        box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;
        -webkit-box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;
        -moz-box-shadow: -39px 2px 55px -34px rgba(0, 0, 0, 0.59) inset;
    } */

    .plus {
        width: 100px !important;
        height: 100px !important;
        background: linear-gradient(to bottom, transparent 45%, #2cddcf 40%, #2cddcf 55%, transparent 55%), linear-gradient(to right, transparent 45%, #2cddcf 45%, #2cddcf 55%, transparent 55%);
        animation: pulse 5s infinite;
        position: absolute;
        z-index: 9999999;
    }

    .plus:hover {
        background: linear-gradient(to bottom, transparent 45%, #ffffff 40%, #ffffff 55%, transparent 55%), linear-gradient(to right, transparent 45%, #ffffff 45%, #ffffff 55%, transparent 55%);
        /* background: #ffffffc8; */
        /* border-radius: 50%; */
        /* width: 80px;
        height: 80px; */
        /* animation: fadeIn 2s; */
    }

    @keyframes fadeIn {
        0% {
            opacity: 0.2;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes pulse {
        0% {
            transform: rotate(0deg);
        }

        60% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(180deg);
        }
    }

    /*CROSS HOVER*/

}

/** 
 * (min-width: 1200px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1200px) {

    .container-business {
        width: 860px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

/** 
 * (min-width: 1336px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1336px) {

    .container-business {
        width: 960px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .number {
        font-size: 0.8em !important;
        padding: 15px 0px;
        color: white;
        transform: rotate(-90deg);
    }

    .child-container-qualities {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .qualities {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #000000;
    }

    .qualities-left-line {
        border-left: 1px solid #000000;
    }

    .child-qualities {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid #000000;
    }

    .child-qualities h5 {
        font-size: 0.8em;
        font-weight: 400;
        color: white;
    }
}

/** 
 * (min-width: 1591px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1591px) {}

/** 
 * (min-width: 1920px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1920px) {

    .container-business {
        width: 1060px;
        height: 100vh;
    }
}

/** 
 * (max-width: 980px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 980px) {
    .container-business {
        width: 660px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .child-container-business {
        width: 100%;
    }

    .container-description {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .container-business p,
    h4 {
        padding-left: 5px;
    }

    .description {
        width: 33.3%;
    }

    .description div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .number {
        font-size: 0.8em !important;
        font-weight: 300 !important;
        padding: 15px 0px;
        color: white;
        transform: rotate(-90deg);
    }

    .child-container-qualities {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .qualities {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #000000;
    }

    .qualities-left-line {
        border-left: 1px solid #000000;
    }

    .child-qualities {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid #000000;
    }

    .child-qualities div {
        width: 50%;
        height: 25vh;
        max-height: 120px;
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child-qualities h5 {
        font-size: 0.7em;
        font-weight: 400;
        color: white;
    }


    /*CROSS HOVER*/
    .z-cross {
        position: relative;
        z-index: 1 !important;
        display: none !important;
    }

    .hover-cross {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 3;
    }

    .hover-cross .child-qualities {
        width: 100%;
        height: 160px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .cross-select div {
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }

    .hover-cross div {
        width: 100% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .container-plus {
        animation: fadeIn 2s;
        position: relative;
    }

    .left,
    .middle,
    .right {
        cursor: none;
    }

    .left:hover {
        background: #0000000b;
    }

    .middle:hover {
        background: #0000000b;
    }

    .right:hover {
        background: #0000000b;
    }

    .plus {
        width: 100px !important;
        height: 100px !important;
        background: linear-gradient(to bottom, transparent 45%, #2cddcf 40%, #2cddcf 55%, transparent 55%), linear-gradient(to right, transparent 45%, #2cddcf 45%, #2cddcf 55%, transparent 55%);
        animation: pulse 5s infinite;
        position: absolute;
        z-index: 9999999;
        display: none !important;
    }

    .plus:hover {
        background: linear-gradient(to bottom, transparent 45%, #ffffff 40%, #ffffff 55%, transparent 55%), linear-gradient(to right, transparent 45%, #ffffff 45%, #ffffff 55%, transparent 55%);
        display: none !important;
    }

    .dontPlus {
        width: 60px !important;
        height: 60px !important;
        background: linear-gradient(to bottom, transparent 45%, #2cddcf 40%, #2cddcf 55%, transparent 55%), linear-gradient(to right, transparent 45%, #2cddcf 45%, #2cddcf 55%, transparent 55%);
        animation: pulse 5s infinite;
        position: absolute;
        z-index: 9999999;
    }

    .dontPlus:hover {
        background: linear-gradient(to bottom, transparent 45%, #ffffff 40%, #ffffff 55%, transparent 55%), linear-gradient(to right, transparent 45%, #ffffff 45%, #ffffff 55%, transparent 55%);
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes pulse {
        0% {
            transform: rotate(0deg);
        }

        60% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(180deg);
        }
    }

    /*CROSS HOVER*/
}

/** 
 * (max-width: 768px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 768px) {
    .container-business .subtittle-top {
        display: none;
    }

    .container-qualities {
        display: none;
    }

    .container-business {
        width: 560px;
        height: auto;
        margin: auto;
        padding: 60px 0px 10px 0px;
    }

    .container-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 40px;
        row-gap: 20px;
    }

    .description {
        width: 100%;
    }

    .child-qualities h5 {
        padding: 40px 0px;
        font-size: 0.6em;
        font-weight: 400;
        color: white;
    }
}

/** 
 * (max-width: 520px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 520px) {
    .container-business {
        width: 325px;
        margin: auto;
    }

    .child-qualities div {
        width: 100%;
        height: 25vh;
        max-height: 110px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child-qualities h5 {
        font-size: 0.7em;
        font-weight: 400;
        color: white;
        letter-spacing: 1px;
    }

    .child-container-qualities {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .qualities {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: none;
    }

    .number {
        padding: 10px 0px 10px;
    }
}