/* Fonts */

h1 {
  font-family: var(--font-lexend) !important;
  font-weight: bold;
}

h2 {
  font-family: var(--font-lexend) !important;
}

h3 {
  font-family: var(--font-roboto) !important;
}

h4 {
  font-family: var(--font-roboto) !important;
}

h5 {
  font-family: var(--font-roboto) !important;
}

p {
  font-family: var(--font-roboto) !important;
}

a {
  font-family: var(--font-roboto) !important;
}

button {
  font-family: var(--font-roboto) !important;
}

span {
  font-family: var(--font-roboto) !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  align-items: center;
  background: #121212;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.main {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  position: relative;
}

.lines {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: -2;
}

.line-1 {
  width: 1px;
  height: 100%;
  background-color: #181818;
}

.line-2 {
  width: 1px;
  height: 100%;
  background-color: #181818;
}

.line-3 {
  width: 1px;
  height: 100%;
  background-color: #181818;
}

.line-4 {
  width: 1px;
  height: 100%;
  background-color: #181818;
}

.tittle-section {
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1em;
  color: #2cddcf;
  padding-bottom: 70px;
  margin-left: -4px !important;
}

.subtittle-top {
  font-size: 0.8em;
  font-weight: 400;
  color: white;
  padding: 50px 7px 30px !important;
}

.back-tittle {
  position: absolute;
  top: 30%;
  left: 0px;
  right: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 5.5em;
  font-weight: 900;
  z-index: -2;
  background: #02020293;
  color: transparent;
  text-shadow: 0px 1px 3px rgba(20, 20, 20, 0.95);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.tittle-description {
  padding: 20px 5px 20px;
  font-size: 1.1em;
  font-weight: 400;
  color: white;
  text-align: left;
}

.text-description {
  width: 80%;
  font-size: 0.8em;
  font-weight: 300;
  color: white;
  text-align: left;
}

.sep-line-short {
  width: 25px;
  height: 3px;
  background-color: #181818;
}

.sep-line-mid {
  width: 45px;
  height: 3px;
  background-color: #181818;
}

.sep-line-large {
  width: 60px;
  height: 3px;
  background-color: #181818;
}