/* Fonts */

h1 {
  font-family: var(--font-lexend) !important;
  font-weight: bold;
}

h2 {
  font-family: var(--font-lexend) !important;
}

h3 {
  font-family: var(--font-roboto) !important;
}

h4 {
  font-family: var(--font-roboto) !important;
}

h5 {
  font-family: var(--font-roboto) !important;
}

p {
  font-family: var(--font-roboto) !important;
}

a {
  font-family: var(--font-roboto) !important;
}

button {
  font-family: var(--font-roboto) !important;
}

span {
  font-family: var(--font-roboto) !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px !important;
  z-index: 2;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  align-items: center;
  background: #121212;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.main {
  min-height: 100vh;
  max-width: 100%;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.snapScroll {
  scroll-snap-align: start;
}

.lines {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: 1;
}

.line-1 {
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.line-2 {
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.line-3 {
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.line-4 {
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.tittle-section {
  width: 66%;
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1em;
  color: #2cddcf;
  padding-bottom: 70px;
  margin-left: -4px !important;
}

.subtittle-top {
  font-size: 0.8em;
  font-weight: 400;
  color: white;
  padding: 50px 7px 30px !important;
  position: relative;
}

.top-position {
  position: absolute;
  top: 0px;
}

.back-tittle {
  position: absolute;
  top: 30%;
  left: 0px;
  right: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 5.5em;
  font-weight: 900;
  z-index: -4;
  background: #02020286;
  color: transparent;
  text-shadow: 0px 1px 3px rgba(20, 20, 20, 0.95);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.tittle-description {
  padding: 20px 5px 20px !important;
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-align: left;
}

.text-description {
  width: 80%;
  font-size: 0.8em;
  font-weight: 300;
  color: white;
  text-align: left;
}

.sep-line-short {
  width: 15px;
  height: 2px;
  background-color: #181818;
}

.sep-line-mid {
  width: 45px;
  height: 2px;
  background-color: #181818;
}

.sep-line-large {
  width: 60px;
  height: 2px;
  background-color: #181818;
}

.mark-tittle .sep-line-large {
  position: absolute;
  left: -80px;
  bottom: 37px;
}

.container-request .sep-line-large {
  position: absolute;
  left: -80px;
  bottom: 67px;
}

/** 
 * (min-width: 981px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 981px) {
  .lines {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 760px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .tittle-section {
    width: 68%;
    font-size: 2.8em;
  }
}

/** 
 * (min-width: 1200px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1200px) {
  .lines {
    width: 860px;
    height: 100%;
  }
}

/** 
 * (min-width: 1336px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1336px) {

  .lines {
    width: 960px;
    height: 100%;
  }

  .tittle-section {
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
    color: #2cddcf;
    padding-bottom: 40px;
    margin-left: -4px !important;
  }

  .subtittle-top {
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    padding: 50px 7px 30px !important;
  }

  .back-tittle {
    position: absolute;
    top: 30%;
    left: 0px;
    right: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 4.5em;
    font-weight: 900;
    background: #02020286;
    color: transparent;
    text-shadow: 0px 1px 3px rgba(20, 20, 20, 0.95);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  .tittle-description {
    padding: 20px 5px 20px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-align: left;
  }

  .text-description {
    width: 80%;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    text-align: left;
  }
}

/** 
  * (min-width: 1591px)
  *  
  * -------------------------------------------------------------------
  */
@media (min-width: 1591px) {
  .lines {
    width: 960px;
    height: 100%;
  }

  .tittle-section {
    width: 75%;
    font-size: 3.5em;
  }
}

/** 
 * (min-width: 1920px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1920px) {
  .lines {
    width: 1060px;
    height: 100%;
  }

  .tittle-section {
    width: 75%;
    font-size: 4em;
  }
}

/** 
 * (max-width: 980px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 980px) {
  .lines {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 660px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .tittle-section {
    width: 66%;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1em;
    color: #2cddcf;
    padding-bottom: 40px;
    margin-left: -4px !important;
  }
}

/** 
 * (max-width: 768px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 768px) {
  .lines {
    display: none;
  }

  .tittle-description {
    padding: 15px 5px 15px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-align: left;
  }

  .text-description {
    width: 85%;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    text-align: left;
  }

  .subtittle-top {
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    padding: 20px 7px 30px !important;
  }

  .back-tittle {
    font-size: 4.5em;
    font-weight: 900;
    transform: rotate(-90deg);
    top: 40%;
  }
}

/** 
 * (max-width: 520px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 520px) {
  .tittle-section {
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
    color: #2cddcf;
    padding-bottom: 30px;
    margin-left: -4px !important;
  }

  .tittle-description {
    padding: 15px 5px 15px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-align: left;
  }

  .subtittle-top {
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    padding: 20px 7px 30px !important;
  }
}