/* Fonts */

h1 {
  font-family: var(--font-lexend) !important;
  font-weight: bold;
}

h2 {
  font-family: var(--font-lexend) !important;
}

h3 {
  font-family: var(--font-roboto) !important;
}

h4 {
  font-family: var(--font-roboto) !important;
}

h5 {
  font-family: var(--font-roboto) !important;
}

p {
  font-family: var(--font-roboto) !important;
}

a {
  font-family: var(--font-roboto) !important;
}

button {
  font-family: var(--font-roboto) !important;
}

span {
  font-family: var(--font-roboto) !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px !important;
  z-index: 2;
  position: relative;
  pointer-events: none !important;
}

h1::selection {
  background: #2cddcf;
  color: #000000;
}

h2::selection {
  background: #2cddcf;
  color: #000000;
}

h3::selection {
  background: #2cddcf;
  color: #000000;
}

h4::selection {
  background: #2cddcf;
  color: #000000;
}

h5::selection {
  background: #2cddcf;
  color: #000000;
}

p::selection {
  background: #2cddcf;
  color: #000000;
}

span::selection {
  background: #2cddcf;
  color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

html {
  scroll-behavior: smooth !important;
}

body {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  align-items: center;
  background: #121212;

  /* Custom styles for your React previews here */
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  color: currentColor;

}

a {
  color: inherit;
  text-decoration: none !important;
}

.gemdamstudio {
  height: 100vh;

}

.main {
  min-height: 100vh;
  height: 100vh;
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.snapScroll {
  scroll-snap-align: start;
}

.lines {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 960px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: -1;
}

.line-1 {
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.line-2 {
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.line-3 {
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.line-4 {
  width: 1px;
  height: 100%;
  background-color: #000000;
}

.tittle-section {
  width: 66%;
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1em;
  color: #2cddcf;
  padding-top: 40px;
  margin-left: 0px !important;
}

.subtittle-top {
  font-size: 0.8em;
  font-weight: 400;
  color: white;
  padding: 50px 0px 30px !important;
  position: relative;
}

.top-position {
  position: absolute;
  top: 0px;
}

.mid-position {
  position: absolute;
  top: 77px;
  left: 0px;
}

.back-tittle {
  position: absolute;
  top: 12%;
  left: 0px;
  right: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 5.5em;
  font-weight: 900;
  z-index: -4;
  color: #141414;
}

.tittle-description {
  padding: 20px 5px 20px !important;
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-align: left;
}

.text-description {
  width: 80%;
  font-size: 0.8em;
  font-weight: 300;
  color: white;
  text-align: left;
}

.sep-line-short {
  width: 15px;
  height: 1px;
  background-color: #000000;
}

.sep-line-mid {
  width: 45px;
  height: 1px;
  background-color: #000000;
}

.sep-line-large {
  width: 60px;
  height: 1px;
  background-color: #000000;
}

.mark-tittle .sep-line-large {
  position: absolute;
  left: -80px;
  bottom: 37px;
}

.container-request .sep-line-large {
  position: absolute;
  left: -80px;
  bottom: 67px;
}

/** 
 * (min-width: 981px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 981px) {
  .lines {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 760px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .tittle-section {
    width: 68%;
    font-size: 2.8em;
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
    color: #2cddcf;
    padding-top: 110px;
    margin-left: 0px !important;
  }
}

/** 
 * (min-width: 1200px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1200px) {
  .lines {
    width: 860px;
    height: 100%;
  }
}

/** 
 * (min-width: 1336px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1336px) {

  .lines {
    width: 960px;
    height: 100%;
  }

  .subtittle-top {
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    padding: 50px 0px 30px !important;
  }

  .back-tittle {
    position: absolute;
    top: 12%;
    left: 0px;
    right: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 7.5em;
    font-weight: 900;
    letter-spacing: 7px;
  }

  .tittle-description {
    padding: 20px 5px 20px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-align: left;
  }

  .text-description {
    width: 88%;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    text-align: left;
  }
}

/** 
  * (min-width: 1591px)
  *  
  * -------------------------------------------------------------------
  */
@media (min-width: 1591px) {
  .lines {
    width: 960px;
    height: 100%;
  }

  .tittle-section {
    width: 75%;
    font-size: 3.5em;
  }
}

/** 
 * (min-width: 1920px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1920px) {
  .lines {
    width: 1060px;
    height: 100%;
  }

  .container-companies .lines {
    width: 1058px;
    height: 100%;
  }

  .container-about .lines {
    width: 1059px;
    height: 100%;
  }

  .tittle-section {
    width: 75%;
    font-size: 4em;
  }
}

/** 
 * (max-width: 980px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 980px) {
  .lines {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 660px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .tittle-section {
    width: 66%;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1em;
    color: #2cddcf;
    padding-bottom: 40px;
    margin-left: -1px !important;
  }

  .mark-tittle .sep-line-large {
    display: none;
  }
}

/** 
 * (max-width: 768px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 768px) {
  .main {
    min-height: 100vh;
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  .snapScroll {
    scroll-snap-align: inherit;
  }

  .lines {
    display: none;
  }

  .tittle-section {
    padding-top: 20px;
  }

  .tittle-description {
    padding: 15px 5px 15px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-align: left;
  }

  .text-description {
    width: 85%;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    text-align: left;
  }

  .subtittle-top {
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    padding: 20px 0px 30px !important;
  }

  .back-tittle {
    font-size: 4.5em;
    font-weight: 900;
    transform: rotate(-90deg);
    top: 55%;
    color: #141414;
  }

  .top-position {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

/** 
 * (max-width: 520px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 520px) {
  .tittle-section {
    width: 100%;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1em;
    color: #2cddcf;
    padding-bottom: 30px;
    margin-left: -1px !important;
  }

  .tittle-description {
    padding: 10px 5px 5px !important;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-align: left;
  }

  .subtittle-top {
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    padding: 20px 0px 30px !important;
  }
}