.container-shader02 {
    width: 100%;
    margin: auto;
    background-color: #121212;
}

/** 
 * (min-width: 1920px)
 *  
 * -------------------------------------------------------------------
 */
 @media (min-width: 1920px){
    .container-shader02 {
        width: 100%;
        height: 450px;
    }
 }

/** 
 * (max-width: 980px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 980px) {
    .container-shader02 {
        height: 250px;;
    }

}