.container-shader01 {
    width: 1200px;
    height: 100vh;
    margin: auto;
    background-color: #121212;
    z-index: -1;
    /* margin: 40px 0px; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 20%;
}

.container-grad {
    top: 0;
    z-index: 2;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(18, 18, 18, 1) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(18, 18, 18, 1) 100%);
}

canvas {
    width: 100%;
    height: 100%;
}

/** 
 * (min-width: 1920px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1920px) {
    .container-shader01 {
        width: 100%;
    }
}

/** 
 * (max-width: 980px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 980px) {
    .container-shader01 {
        width: 100%;
        height: 350px;
        position: relative;
        left: 0;
    }

    canvas {
        width: 100% !important;
        height: 100%;
    }
}