/** 
 * (min-width: 981px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 981px) {
    .container-gemdam {
        width: 760px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        z-index: 1;
    }

    .child-container-gemdam {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-tittle {
        width: 85%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .child-container-tittle {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .child-container-tittle h1 {
        font-size: 6em;
        line-height: 1em;
        color: #2cddcf;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
    }

    .container-subtittle {
        color: #2cddcf;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 15px;
        position: absolute;
        bottom: 10px;
        right: 0;
    }

    .container-subtittle p {
        font-size: 0.8em;
        font-weight: 900;
        letter-spacing: 1px;
        color: #2cddcf;
    }

    .container-subtittle div {
        width: 60px;
        height: 2px;
        background: #2cddcf;
    }

    .container-shader {
        width: 50%;
    }
}

/** 
  * (min-width: 1336px)
  *  
  * -------------------------------------------------------------------
  */
@media (min-width: 1336px) {
    .container-gemdam {
        width: 960px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        z-index: 1;
    }

    .container-tittle {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

}

/** 
  * (min-width: 1591px)
  *  
  * -------------------------------------------------------------------
  */
@media (min-width: 1591px) {

    .container-tittle {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

/** 
 * (max-width: 980px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 980px) {
    .container-gemdam {
        width: 660px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        z-index: 1;
    }

    .child-container-gemdam {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-tittle {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .child-container-tittle {
        width: 75%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .child-container-tittle h1 {
        font-size: 6em;
        line-height: 1em;
        color: #2cddcf;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
    }

    .container-subtittle {
        color: #2cddcf;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 15px;
        position: absolute;
        bottom: 10px;
        right: 0;
    }

    .container-subtittle p {
        font-size: 0.7em;
        font-weight: 900;
        letter-spacing: 1px;
        color: #2cddcf;
    }

    .container-subtittle div {
        width: 60px;
        height: 2px;
        background: #2cddcf;
    }

    .container-shader {
        width: 50%;
    }
}

/** 
 * (max-width: 768px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 768px) {
    .container-gemdam {
        width: 560px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        z-index: 1;
    }

    .container-tittle {
        width: 65%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .child-container-tittle {
        width: 70%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .child-container-tittle h1 {
        font-size: 5em;
        line-height: 1em;
        color: #2cddcf;
    }
}

/** 
 * (max-width: 512px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 520px) {
    .container-gemdam {
        width: 350px;
        height: 100vh;
        margin: auto;
    }

    .container-tittle {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .child-container-tittle {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .child-container-tittle h1 {
        font-size: 3.5em;
        line-height: 1em;
        color: #2cddcf;
    }
}

/** 
 * (max-width: 380px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 380px) {
    .container-gemdam {
        width: 320px;
        height: 100vh;
        margin: auto;
    }

    .container-tittle {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .child-container-tittle {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .child-container-tittle h1 {
        font-size: 3em;
        line-height: 1em;
        color: #2cddcf;
    }

    .container-subtittle {
        bottom: 3px;
        right: 0;
    }
}