/** 
 * (min-width: 981px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 981px) {

    .container-contact {
        width: 760px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .container-contact p,
    h2 {
        padding-left: 5px;
    }

    .child-container-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container-items-contact{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .container-request {
        width: 33.3%;
        border-top: 1px solid #000000;
        height: 140px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .container-request p {
        font-size: 1.5em;
        font-weight: 400;
        color: white;
    }

    .container-call {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    .child-container-call {
        height: 140px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-call div {
        width: 33.3%;
        z-index: 2;
    }

    .container-call p {
        font-size: 1.5em;
        font-weight: 300;
        color: white;
        transition: all 0.4s;
    }

    .container-direction {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .container-direction div {
        width: 33.3%;
        border-bottom: 1px solid #000000;
        height: 140px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-direction div p {
        font-size: 1em;
        font-weight: 300;
        color: white;
    }

    /* SWAP TEXT */
    .text-swap {
        width: 100% !important;
        height: 40px;
        padding: 0px !important;
        overflow: hidden;
        border: unset;
        background-color: transparent;
        transition: all 350ms;
    }

    .cont-text-swap {
        width: 100% !important;
        height: 80px;
        padding: 0px !important;
        transform: translateY(0%);
        border: none !important;
        transition: all 350ms;
    }

    .cont-text-swap:hover {
        transform: translateY(-50%);
        transition: all 350ms;
    }

    .cont-text-swap p:last-child {
        color: #2cddcf;
    }

    .cont-text-swap p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        height: 50%;
        border: none !important;
    }
}

/** 
 * (min-width: 1200px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1200px) {

    .container-contact {
        width: 860px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

/** 
 * (min-width: 1336px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1336px) {

    .container-contact {
        width: 960px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

/** 
  * (min-width: 1591px)
  *  
  * -------------------------------------------------------------------
  */
@media (min-width: 1591px) {}

/** 
 * (min-width: 1920px)
 *  
 * -------------------------------------------------------------------
 */
@media (min-width: 1920px) {

    .container-contact {
        width: 1060px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

/** 
 * (max-width: 980px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 980px) {

    .container-contact {
        width: 660px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .container-contact p,
    h2 {
        padding-left: 5px;
    }

    .child-container-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container-request {
        width: 33.3%;
        border-top: 1px solid #000000;
        height: 140px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .container-request p {
        font-size: 1.5em;
        font-weight: 400;
        color: white;
    }

    .container-call {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    .child-container-call {
        height: 140px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-call div {
        width: 33.3%;
    }

    .container-call p {
        font-size: 1.5em;
        font-weight: 300;
        color: white;
        transition: all 0.4s;
    }

    .container-direction {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .container-direction div {
        width: 33.3%;
        border-bottom: 1px solid #000000;
        height: 140px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-direction div p {
        font-size: 1em;
        font-weight: 300;
        color: white;
    }

    /* SWAP TEXT */
    .text-swap {
        width: 100% !important;
        height: 40px;
        padding: 0px !important;
        overflow: hidden;
        border: unset;
        background-color: transparent;
        transition: all 350ms;
    }

    .cont-text-swap {
        width: 100% !important;
        height: 80px;
        padding: 0px !important;
        transform: translateY(0%);
        border: none !important;
        transition: all 350ms;
    }

    .cont-text-swap:hover {
        transform: translateY(-50%);
        transition: all 350ms;
    }

    .cont-text-swap p:last-child {
        color: #2cddcf;
    }

    .cont-text-swap p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        height: 50%;
        border: none !important;
    }
}

/** 
 * (max-width: 768px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 768px) {

    .container-contact {
        width: 560px;
        height: auto;
        margin: auto;
        padding: 60px 0px;
    }

    .container-call {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    .container-call div {
        width: 100%;
    }

    .container-call p {
        font-size: 1em;
        font-weight: 300;
        color: white;
        transition: all 0.4s;
    }

    .container-request {
        width: 100%;
        height: 80px;
    }

    .container-request p {
        font-size: 1em;
        font-weight: 400;
        color: white;
    }

    .child-container-call {
        height: 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-direction div {
        width: 50%;
        border-bottom: 1px solid #000000;
        height: 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-direction div p {
        font-size: 0.8em;
        font-weight: 300;
        color: white;
    }
}

/** 
 * (max-width: 520px)
 *  
 * -------------------------------------------------------------------
 */
@media (max-width: 520px) {

    .container-contact {
        width: 350px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .container-call {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    .container-call div {
        width: 100%;
    }

    .container-call p {
        font-size: 1em;
        font-weight: 300;
        color: white;
        transition: all 0.4s;
    }

    .container-request {
        width: 100%;
        height: 80px;
    }

    .container-request p {
        font-size: 1em;
        font-weight: 400;
        color: white;
    }

    .child-container-call {
        height: 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-direction div {
        width: 50%;
        border-bottom: 1px solid #000000;
        height: 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-direction div p {
        font-size: 0.8em;
        font-weight: 300;
        color: white;
    }
}