.container-contact {
    width: 960px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-contact p, h2{
    padding-left: 5px;
}

.lines {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -2;
}

.line-1 {
    width: 3px;
    height: 100%;
    background-color: #181818;
}

.line-2 {
    width: 3px;
    height: 100%;
    background-color: #181818;
}

.line-3 {
    width: 3px;
    height: 100%;
    background-color: #181818;
}

.line-4 {
    width: 3px;
    height: 100%;
    background-color: #1818185a;
}

.back-tittle{
    position: absolute;
    top: 35%;
    left: 0px;
    right: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 7em;
    font-weight: 900;
    color: #15151577;
    z-index: -2;
}

.child-container-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.subtittle-contact {
    font-size: 0.8em;
    font-weight: 400;
    color: white;
    padding: 50px 7px 30px !important;
}

.tittle-contact {
    font-size: 5em;
    font-weight: 600;
    line-height: 1em;
    color: #2cddcf;
    padding-bottom: 70px;
    margin-left: -4px !important;
}

.container-request {
    width: 33.3%;
    border-top: 3px solid #181818;
    padding: 50px 0px;
}

.container-request p {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

.container-call {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 3px solid #181818;
    border-bottom: 3px solid #181818;
}

.container-call div {
    width: 33.3%;
    padding: 50px 0px;
}

.container-call p {
    font-size: 1.5em;
    font-weight: 300;
    color: white;
}

.container-direction {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.container-direction div {
    padding: 50px 0px;
    width: 33.3%;
    border-bottom: 3px solid #181818;
}

.container-direction div p {
    font-size: 1em;
    font-weight: 300;
    color: white;
}